body {
  background-image: url("images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: rgb(255, 236, 244);
  opacity: 1;
  padding: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.leftSection,
.centerSection,
.rightSection {
  display: flex;
  flex-direction: row;
  gap: 0px;
}

button {
  background: none;
  border: 1px rgb(235, 132, 175) solid;
  cursor: pointer;
  padding: 0px;
  width: 80px;
  height: 80px;
}

.hamburgerMenu, .favorites {
  border-right: none;
}

button:hover {
  background-color: rgba(255, 182, 193, 0.3);
}

button img {
  width: 70%;
  height: 70%;
  display: block;
  margin: auto;
}

.logo {
  height: 60px;
}

.photoGalleryText {
  font-size: clamp(16px, 1.5vw, 36px);
  color: #ad1655;
  margin-top: 90px;
  margin-left: 30px;
  text-align: left;
  display: block;
}

.shopPhotoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  grid-template-rows: 1fr 1fr;
  width: 98%;
  height: auto;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.shopPhotoContainer img {
  opacity: 0.80;
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.shopPhotoContainer img:hover {
  opacity: 1;
  transform: scale(1.035);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.welcomeMessage,
.someText {
  font-size: clamp(16px, 1.5vw, 36px);
  color: #ad1655;
  margin-top: clamp(20px, 2vw, 60px);
  margin-left: 30px;
  margin-bottom: clamp(10px, 1vw, 30px);
  text-align: left;
  display: block;
}

.someText {
  margin-top: clamp(30px, 3vw, 90px);
}
.welcomeMessage {
  margin-bottom: clamp(30px, 3vw, 90px);
}

.welcomeMessage p,
.someText p {
  margin: 7px 0;
}

.carousel {
  overflow: hidden;
  margin: auto;
  width: 80%;
  height: clamp(70px, 15vw, 300px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

.carousel:hover .container {
  animation-play-state: paused;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: clamp(70px, 15vw, 300px);
  width: auto;
  gap: 20px;
  flex-wrap: nowrap;
  animation: scroll 10s linear infinite;
  padding-right: 20px;
}

.container img {
  width: clamp(100px, 15vw, 250px);
  height: auto;
  object-fit: cover;
  opacity: 0.85;
  justify-content: center;
}

.container img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  opacity: 1;
}

@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

.footer {
  width: 100%;
  height: 130px;
  background-color: rgba(255, 236, 244, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  margin-top: clamp(200px, 5vw, 1500px);
  bottom: 0;
}

.footer p {
  font-size: clamp(10px, 0.8vw, 15px);
  color: #921348;
}

.someInfo {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  width: 100%;
}

.firstInfoColumn, .secondInfoColumn{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-right: 30px;
}

.firstInfoColumn p, .secondInfoColumn p {
  margin: 1px 0;
}

.secondInfoColumn {
  border-right: 1px solid #921348;
  padding-right: 30px;
}

.thirdInfoColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.shopInfo {
  font-size: clamp(10px, 0.8vw, 15px);
  color: #921348;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.socialMediaContainer, .phoneNumberContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
}

.farewell {
 font-size: clamp(10px, 0.8vw, 15px);
  color: #921348;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: none;
}

.farewell p {
  margin: 1px 0;
}

.highlightInfo {
  font-weight: bold;
  color: #e91e63;
}